<!-- bankapp/templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home - My Bank App{% endblock %}

{% block content %}
    <div class="home-container">
        <h2>Welcome to My Bank App!</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
            Sed nisi.
        </p>
        <p>
            In hac habitasse platea dictumst. Ut sagittis, ipsum ac accumsan
            fermentum, neque elit sagittis odio, vel feugiat velit ligula sit amet
            arcu. Proin nec odio vel lacus interdum dictum. Integer euismod lacus luctus
            magna.
        </p>
    </div>
{% endblock %}
